.container {
  width: fit-content;
  display: flex;
  gap: 80px;
  margin: 0 auto;
}

.controls__container {
  display: flex;
  gap: 12px;
}

.input {
  width: 377px;
}

.display__list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 48px auto 0 auto;
  padding: 0;
}